<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>hi</title>
</head>
<body>
	{% for i in tweets:%}
	<h2>{{tweets[i]['title']}} : {{tweets[i]['text']}}</h2>
	{% endfor %}

</body>
</html> -->


var pages = [
  { title: "iasa's sorting hat", choices: ["Start the quiz"], results: [] },
  { title: "What's your ?", choices: ["Choice 1", "Choice 2", "Choice 3"], results: [1, 0, 0] },
  { title: "What's your financial status?", choices: ["Rich", "Mid", "Poor"], results: [0, 1, 0] },
  { title: "Where do you live?", choices: ["Rural area", "Suburbs", "Urban area"], results: [0, 0, 1] },
  { title: "At your last school year you...", choices: ["Succeeded", "Failed"], results: [1, 0] },
  { title: "So it seems like your only option to gain money for living is to...", choices: ["Start a business"], results: [1] },
  { title: "Good job!!! Now you need to learn to get a job and gain money, will you?", choices: ["Go to university"], results: [1] },
  { title: "What type of business do you wanna start?", choices: ["Sole proprietorship", "Partnership", "Corporation"], results: [1, 0, 0] },
  { title: "After starting your own business and working hard on it, your business...", choices: ["Failed", "Succeeded"], results: [1, 0] },
  { title: "So what will you do next with your business?", choices: ["Keep it", "Sell it"], results: [1, 0] },
  { title: "You have enough money to do whatever you want, so will you?", choices: ["Live your life happily on your own", "Marry someone"], results: [1, 0] },
  { title: "Congratulations on the marriage!! What will you and your partner do next?", choices: ["Bring Kids", "Divorce"], results: [1, 0] },
  { title: "Sorry for the divorce ):, will you re-marry someone and live happily ever after with them or will you live your life happily on your own?", choices: ["Remarry", "Live your life happily on your own"], results: [1, 0] },
  { title: "Ugh you failed university, your only way to make money for living is to start a business", choices: ["Start Business"], results: [1] },
  { title: "Your result:", choices: [], results: [] } // The final page
];